@import url("https://fonts.googleapis.com/css?family=Modern+Antiqua|Oswald");
body {
  background: #b9f6ca;
  font-family: "Modern Antiqua", "Oswald", cursive;
}
@mixin shadow($col,$back,$shadow) {
  color: $col;
  background: $back;
  box-shadow: $shadow;
}
@mixin border ($font,$border,$rad) {
  font-size: $font;
  border: $border;
  border-radius: $rad;
}
@mixin grid($margin,$padding,$rows) {
  display: grid;
  grid-template-rows: $rows;
  margin: $margin;
  padding: $padding;
}
main {
  @include shadow(#c6ff00,cyan,2px 2px 7px 3px black);
  @include border(1.2em,blue thin solid,50%(/5%));
  width: 300px;
  @include grid(20px auto,20px,80px 30px 30px 260px);
  grid-template-columns: 300px;
}
.buttons {
  @include grid(20px 0 0,20px 0 20px 16px,repeat(5,30px));
  grid-template-columns: repeat(4, 54px);
  grid-gap: 12px 17px;
  border-radius: 50%/5%;
  box-shadow: blue 3px 3px 5px;
}
h1,
.buttons {
  background: #00bcd4;
}
h1 {
  @include border(1.2em,blue thin solid,20px);
  text-align: center;
  line-height: 50px;
  text-shadow: 1px 1px 1px red, -1px -1px 30px white, 1px 1px 20px white,
    1px 1px 30px white;
}
input {
  @include border(1.1em,blue thin solid,10px);
  &:focus {
  outline: none;
}
}
#equals {
  grid-column: 4/5;
  grid-row: 4/6;
  color: red;
}
#clear,
#clear-one {
  color: red;
}
button {
  transition: 0.5s;
  @include shadow(purple,#fff944,1px 1px 5px 1px black);
  font-family: "Oswald", sans-serif;
  @include border(0.8em,orange thin solid,90%(/30%));
  &:hover {
    cursor: pointer;
    background: #fff59d;
    border-color: red;
  }
  &:active {
    @include shadow(cyan,yellow,none);
    border-color: cyan;
    outline: none;
  }
  &:focus {
  outline: none;
}
  &::-moz-focus-inner {
  border: 0;
}
}
p {
  font-size: 1em;
  color: blue;
  text-shadow: 1px 1px 1px white;
}
@media (max-width: 400px) {
  main {
    width: 260px;
    grid-template-columns: 260px;
    padding: 20px 15px;
  }
  .buttons {
    grid-template-columns: repeat(4, 49px);
    padding: 20px 0 20px 11px;
    grid-gap: 12px 14px;
  }
}
